/* main styles for the page */

p {
    text-align: justify;
}

.logo {
    width: 80px;
    height: auto;
    margin-left: 30px;
    background: none;
}

.logo:hover{
    background:#1e851e;
    border-radius: 7px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.5em 0; /*top bottom & left right */
}
h1 {
    font-size: 1.8em;
    text-align: left;
    padding-left: 19px;
}
h2{
    text-align: center;
    font-size: 2em;
    padding-top: 0.5%;
    padding-left: 1%;
    
}
main div h2 {
    color: black;
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
}

h3{
    font-weight:450;
    font-size: 2em;
    margin: 1em 0;
    text-align: center;
}
#mainImg {
    width:100%;
   
    height:auto;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5); 
    margin-bottom: 2%;
}
.grid-container1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    
}


/* Footer area */

footer {
    padding-bottom: 0px;

}
#linkList a {
    color: #ffffff;
    text-align: start;
}
#linkList a:hover{
    color: #1ea556;
}
#text {
    text-align: justify;
    font-weight: lighter;
    color: #ffffff;
}
.siteFooter {
    background-color: #465233;
    
}
.siteFooter div {
    color:aliceblue;
}
.footerHeading h6 {
    font-size: 15px;
}
.grid-containerFooter{
    display: grid;
    background-color: #465233;
    grid-template-columns: 2fr 1fr;
}
.copyrightText {
    padding-bottom: 15px;
    margin-bottom: 15px;
}

div .copyrightText {
    text-align: center;
}

div .copyrightText a{
    color: #ffffff;
}
div .copyrightText a:hover{
    color: #1ea556;
}


.footerHeading {
    margin-left: 100px;
    margin-right: auto;
}

#linkList li a {
    color: #ffffff;
    text-align: start;
}
#linkList li a:hover{
    color: #1ea556;
}
#text {
    text-align: justify;
    font-weight: lighter;
    color: #ffffff;
}
#footerLinks li a{
    color: #ffffff;
}
#social img{
    
    width: 40px;
}
.flexSocial {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  justify-content: space-around;
    
}

/* main navigation styles */
.grid-container1{
    grid-template-columns: 1fr 4fr;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #465233;
}
#mainNav {
    background-color: #465233;
}

.primary-navigation {
    width: 90%;
    margin: 0 auto;
    display: block;
    padding: 0 0 0 0;  
    text-align: right;
    font-size: 17px; 
    padding-right: 40px;
}
  
nav ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid #1e851e;
    display: inline-block;
    padding: 0 21px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
  
nav li a {
    color: rgb(255, 255, 255);
}
  
nav li a:hover {
    color: #1ea556;
    text-decoration: none; 
    
}
  
nav li:hover {
    cursor: pointer;
}
  
nav ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: #404d29;
}
  
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 170px;
    text-align: left;
    padding-top: 15px;
    box-shadow: 1px 3px 5px 1px #465233;
    z-index: 950;
}
  
nav ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    border-style: none;
}
  
nav ul li ul li a:hover {
    padding-left: 9px;
    border-left: 2px solid #1e851e;
    transition: all 0.1s ease;
}
    
a {
  text-decoration: none;
}
a:hover {
    color: #1ea556;
}
  
ul li ul li a { transition: all 0.5s ease; }

/* main para */

#linkProd {
    display: block;
    background-color:aliceblue;
    text-align: center;
    font-size: 17px;
    width: 100px;
    height: auto;
    padding: 2% 2% 2% 2%;
    border:1.5px solid #000000;
    border-radius: 20px;
    margin-bottom: 2%;
}
.mainPara {
    width: 500px;
    padding-left: 20px;
    text-align: justify;
}

#subImg {
    margin-left: 150px;
    margin-right: 50px;
    width: 600px;
    border: 2px solid black;
    height: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.senLogo {
    padding-right: 10px;
    padding-top: 2%;
     width: 10%;
     height: auto;
     background-color: transparent;
     padding-left: 60px;
     position: relative;
     animation: slide 6s infinite;
 }

 @keyframes slide {
    from {left: 0px;}
    to {left: 1024px;}
 
 }
/* Items */

.item {
    position: relative;
    display: inline-block;
}

.item img{
    width: 70%;
    height: auto;
    
}


.item .img-top {

    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.item:hover .img-top {
    display: inline;
}


.items {
    display: flex;
    margin-left: 15%;
    margin-right: 10%;
    justify-content: space-around;
    flex-wrap:nowrap;
    align-items: baseline;

}

.item p b{
    font-weight: bolder;
    color: #465233;
}
.item p {
    width: 220px;
    text-align: left;
}

.footerImg {
    display: block;
    align-content: center;
    width: 100%;
    height: auto;
}

.onImage {
    text-align: justify;
    padding-left: 1%;
    padding-right: 1%;
}


/* Mobile -- Main Nav and Footer */

@media only screen and (max-width : 1024px) {
    .grid-container1{
        grid-template-columns: 1fr 9fr;
        grid-template-rows: 1fr;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #465233;
    }
    #mainNav {
        background-color: #465233;
    }
    
    .primary-navigation {
        margin: 0 auto;
        display: inline-block;
        padding-top: 1%;
        text-align: right;
        font-size: 14px; 
        padding-right: 30px;
    }
    .senLogo {display: none;}
}

@media only screen and (max-width : 932px) {
    .grid-container1{
        grid-template-columns: 1fr 10fr;
        grid-template-rows: 1fr;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #465233;
    }
    #mainNav {
        background-color: #465233;
    }
    
    .primary-navigation {
        margin: 0 auto;
        display: inline-block;
        padding-top: 1%;
        text-align: right;
        font-size: 12px; 
        padding-right: 29px;
    }
}

@media only screen and (max-width : 860px) {
    .grid-container1{
        grid-template-columns: 1fr 12fr;
        grid-template-rows: 1fr;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #465233;
    }
   
    .primary-navigation {
        margin: 0 auto;
        display: inline-block;
        padding-top: 2%;
        text-align: right;
        font-size: 9.4px; 
        padding-right: 20px;
    }
    .grid-containerFooter{
        display: grid;
        background-color: #465233;
        grid-template-columns: 1fr;
    }
    .footerHeading h6 , #linkList {
        display: none;
    }
    .footerHeading {
        margin-left: 10px;
        margin-right: 10px;
        text-align: justify;
    }

    .footerHeading #text {
        font-size: 14px;
    }

}

@media only screen and (max-width : 768px) {
    .grid-container1{
        grid-template-columns: auto 2fr;
        grid-template-rows: 1fr;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #465233;
    }
    .logo{
        margin-right: 10px;
    }
    header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .primary-navigation {
        margin: 0 auto;
        display: inline-block;
        padding-top: 1%;
        text-align: right;
        font-size: 15px; 
        
    }
    .primary-navigation ul li{
        padding: 0 10px;
    }

    nav ul li {
        list-style: none;
        margin: 0 auto;
        border-left: 2px solid #1e851e;
        display: block;
        padding: 2px 2px;
        position: relative;
        text-decoration: none;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .items {
        display: flex;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: space-around;
        flex-wrap:nowrap;
        align-items: baseline;
    
    }
    ul li:hover > ul,
    ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 150px;
    margin-left: 30%;
    text-align: left;
    padding-top: 15px;
    box-shadow: 1px 3px 5px 1px #465233;
    z-index: 950;
}
}



@media only screen and (max-width : 640px) {
    .grid-container1{
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #465233;
    }
    
    .primary-navigation {
        margin: 0 auto;
        display: block;
        padding: 0 0 0 0;  
        text-align: right;
        font-size: 14px; 
    }
      
    nav ul{
        padding-inline-start: 0;
    }

    nav ul li {
        list-style: none;
        margin: 0 auto;
        border-left: 2px solid #1e851e;
        display: block;
        padding: 2px 2px;
        position: relative;
        text-decoration: none;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    .items {
        display: inline-block;
        margin-left: 22%;
        margin-right: 22%;
        justify-content: space-around;
        flex-wrap:nowrap;
        align-items: baseline;
    
    }  

    .item p{
        font-size: 10px;
        position: relative;
        display: inline-block;
    }
    
    
}

@media only screen and (max-width : 348px) {
    .grid-container1{
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #465233;
    }
    
    .primary-navigation {
        margin: 0 auto;
        display: block;
        padding: 0 0 0 0;  
        text-align: right;
        font-size: 10px; 
        padding-right: 20px;
    }
      
    nav ul li {
        list-style: none;
        margin: 0 auto;
        border-left: 2px solid #1e851e;
        display: block;
        padding: 0.5px 1px;
        position: relative;
        text-decoration: none;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
      
    h2{
        text-align: center;
        font-size: 20px;
    }
    .items {
        display: inline-block;
        margin-left: 20%;
        margin-right: 20%;
        justify-content: space-around;
        flex-wrap:nowrap;
        align-items: baseline;
    
    }
    .copyrightText {
        font-size: 12px;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    .footerHeading #text {
        font-size: 12px;
    }  
    .onImage {
        font-size: 13px;
    }
}