/* main styles for the page */
p {
    text-align: justify;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.5em 0; /*top bottom & left right */
}
h1 {
    font-size: 1.8em;
    text-align: left;
    padding-left: 19px;
}
.logo {
    width: 80px;
    height: auto;
    margin-left: 30px;
    background: none;
}

.logo:hover{
    background:#1e851e;
    border-radius: 7px;
}

h2{
    
    text-align: center;
    font-size: 2em;
    padding-top: 20px;
    
}
main div h2 {
    color: black;
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
}

h3{
    margin: 1em 0;
}
.containerDono {
    position: relative;
    text-align: center;
    color: black;
  }

/* Footer area */

footer {
    padding-bottom: 0px;

}

.siteFooter {
    background-color: #465233;
    
}
.siteFooter div {
    color:aliceblue;
}
.footerHeading h6 {
    font-size: 15px;
}
.grid-containerFooter{
    display: grid;
    background-color: #465233;
    grid-template-columns: 2fr 1fr;
}
.copyrightText {
    padding-bottom: 15px;
    margin-bottom: 15px;
}

div .copyrightText {
    text-align: center;
}

div .copyrightText a{
    color: #ffffff;
}
div .copyrightText a:hover{
    color: #1ea556;
}


.footerHeading {
    margin-left: 100px;
    margin-right: auto;
}

#linkList a {
    color: #ffffff;
    text-align: start;
}
#linkList a:hover{
    color: #1ea556;
}
#text {
    text-align: justify;
    font-weight: lighter;
    color: #ffffff;
}
#footerLinks li a{
    color: #ffffff;
}
#social img{
    
    width: 40px;
}
.flexSocial {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  justify-content: space-around;
    
}

/* main navigation styles */


.grid-container1{
    grid-template-columns: 1fr 4fr;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #465233;
}
#mainNav {
    background-color: #465233;
}

.primary-navigation {
    width: 90%;
    margin: 0 auto;
    display: block;
     
    text-align: right;
    font-size: 17px; 
    padding-right: 40px;
}
  
nav ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid #1e851e;
    display: inline-block;
    padding: 0 20px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
  
nav li a {
    color: rgb(255, 255, 255);
}
  
nav li a:hover {
    color: #1ea556;
    text-decoration: none; 
    
}
  
nav li:hover {
    cursor: pointer;
}
  
nav ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: #404d29;
}
  
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 180px;
    text-align: left;
    padding-top: 15px;
    box-shadow: 1px 3px 5px 1px #465233;
    z-index: 950;
}
  
nav ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    border-style: none;
}
  
nav ul li ul li a:hover {
    padding-left: 9px;
    border-left: 2px solid #1e851e;
    transition: all 0.1s ease;
}
    
a {
  text-decoration: none;
}
a:hover {
    color: #1ea556;
}
  
ul li ul li a { transition: all 0.5s ease; }

/* Image Styles */

#mainImg {
    width:100%;
   
    height:auto;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5); 
    margin-bottom: 2%;
}
#musuemMainImg{
    align-items: center;
    width:50%;
    border-radius: 20px;
    height:auto;
    margin-top: 1%;
    margin-left: 5%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    margin-bottom: 2%;
}

#subImg {
    width: 80%;
    border-radius: 20px;
    height: auto;
    margin: auto auto;
    display: block;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}
.grid-container1 {
    display: grid;
    grid-template-columns: auto 3fr;
    
}
.grid-container1-1{
    display: grid;
    background-color: #a4ee7c;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 30px;
    grid-template-columns: 1fr 1fr;
}
.grid-container1-1-1{
    display: grid;
    background-color: #a4ee7c;
    border-radius: 30px;
    grid-template-columns: 1fr 1fr;
}


.grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
    
}
.box1 {
   box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
   border-radius: 20px;
   margin: auto auto;
   text-align:justify;
   width: 400px;
   height: auto;
   margin-left: auto;
   margin-right: auto;
}
.box1-1 {
    grid-row:1 / span 2;
}
.box1-1-1 {
    width: 90%;
    height: auto;

}
.box2-1-1 {
    text-align: justify;
    width: 90%;
}
.box2-1 {
    text-align: justify;
    width: 90%;
}
.box2 {
    text-align: justify;
    width: 90%;
}
.box2-2 {
    text-align: justify;
    width: 90%;
    margin: auto auto;
}
.box3 {
    border-radius: 20px;
    width: 310px;
    height: 310px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}


/* Paragraph Styles */


.numberedList {
    display: block;
    width: 120px;
    margin: 0 2em;
    padding: 0 1.5em;
}

.dottedList {
    display: block;
    width: 80%;
    padding: 0 2em;
    line-height: 22px;
}
.dottedList1 {
    display: block;
    width: 80%;
    padding: 0 2em;
    line-height: 22px;
}
.titles {
    text-align:left ;
    padding-left: 20px;
    font-weight: lighter;
}

.box {
    margin:1em;
    max-width: 95%;
}
.boxMusPara {
    margin:20px;
    max-width: 98%;
    
}

#mainPara {
    margin-bottom: 3%;
}

#mainPara1 {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 30px;
    background-color: #a4ee7c;
    padding-bottom: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#mainPara2 {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 30px;
    background-color: #a4ee7c;
    padding-bottom: 20px;
    margin-bottom: 2%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

/* Tables */

.table1 {
  border-radius: 20px;
  width: 90%;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 2%;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
  
}

.table1 td, .table1 th {
  border-radius: 20px;
  border-width: 2px;
  border-color: #0c4615;
  border-style: solid;
  text-align: justify;
  padding-left: 8px;
  padding-right: 8px;
}
.table1 td {
    max-width: 500px;
}
.table1 tr td{
    text-align: center;
}
.table1 th {
    border-width: 2px;
    border-color: #0c4615;
    border-style: solid;
    padding: 1px;
    text-align: center;
  }

.table1 thead {
  background-color: #a4ee7c;
}

.table1 tfoot {
    background-color: #a4ee7c;
  }

.table1 tfoot tr td{
    padding-top: 10px;
    padding-bottom: 10px;
  }

.table1 tfoot tr td{
    color: #000000;
    
  }

.table1 tfoot tr td a{
    color: #000000;
    
  }

.table1 tfoot tr td a:hover{
    color: #1ea500;
    
  }

.table1 thead tr th{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  

.tableImage {
    border-radius: 5px;
    margin: auto auto;
    width: 120px;
    height: auto;
 }

 /* museum grid for images */

.grid-containerMusuem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.firstItem {
    padding-top: 1%;
}

.boxMus {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    width: 95%;
    height: auto;
    border-radius: 20px;
    margin: 12px auto;
}
figure figcaption{
    text-align: left;
    padding-left: 20px;
}



.grid-containerMusuem2 {
    display: grid;
    grid-template-columns: 1fr 2fr ;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 30px;
    background-color: #a4ee7c;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 2%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.box3-Mus{
    border-radius: 20px;
    width: 90%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    
    margin-right: auto;
}

.boxgridMus {
    margin-left: 30px;
}

/*for byproducts page*/

.item-container {
display: grid;
grid-template-columns: 2fr 1fr ;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.item-container input[type=submit] {
    width: 180px;
    height: 40px;
    color: #000000;
    background-color: #5b9c38;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.item-container input[type=submit]:hover {
    color: #ffffff;
    background-color: #1ea500;
}


.item-container{
    margin-top: 2%;
    margin-bottom: auto;
}
.firstItemProd {
    display: inline-block;
}

.Item1 {
    border-radius: 20px;
    width: 27%;
    height: auto;
    
    margin-bottom: 45px;
    margin-left: 2%;
    margin-right: auto;

    
}
.Item1-1 {
    border-radius: 20px;
    width: 27%;
    height: auto;
    
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    
}
.Item2 {
    border-radius: 20px;
    width: 35%;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
}


.Item1 , .Item2 , .Item1-1{
    margin-bottom: 20px;
    margin-top: 40px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    
}

.Item1:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2); 
  }

.Item1-1:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2); 
  }

.Item2:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1); 
}

.secondItem {
    grid-row: 1/2/ span 2 / span 2;

}
.gridLink{
    display: inline-flex;
    
}
#linkProd {
    display: block;
    text-align: center;
    font-size: 17px;
    width: 35%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border:1.5px solid #000000;
}
/*product card */

.productForm {
    background-color: #a4ee7c ;
    margin-top: 50px;
    padding-top: 20px;
    width: 250px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-left: 30px;
    text-align: left;
    border-radius: 20px;
    border:1.5px solid #000000;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

.button {
    display: block;
    margin: 20px;
    color: #000000;
    background-color: #5b9c38;
    width: 350px;
    height: 30px;
}

.button:hover {
    color: #ffffff;
    background-color: #1ea500;
}


/* Donation & Booking */


.boxDono {
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
}

.donoUI {
    display: block;
    width: 40%;
    align-content: center;
    margin-right: 30%;
    margin-left: 30%;
    padding-bottom: 1%;
}
.donoUI fieldset legend {
    font-size: 20px;
}

.donoUI fieldset{
    width: 80%;
    background-color: #a4ee7c;
    border:1.5px solid #000000;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

#donateSubmit {
    width: 80px;
    height: 30px;
    color: #000000;
    background-color: #5b9c38;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }

#donateSubmit:hover {
    color: #ffffff;
    background-color: #1ea500;
  }

.donoUI legend {
    font-weight: bolder;
    font-size: 60px;
}
.form-group {
   display: inline-flex;
   border-radius: 2px;
}
.form-group label select option{
    width: 50px;
}


#mainPara h1 {
    color: black;
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
    text-align: center;
    font-size: 40px;
}

.itemImg {
    border-radius: 20px;
    margin-top: 30px;
    width: 90%;
    height: auto;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}

.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr ;
    padding-bottom: 20px;
}

.item {
    display: block;
    margin-left: 50px;
    background-color: #a4ee7c;
    width: 80%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
    text-align: center;
    
}

.item h3 {
    padding-left: 10px;
}

.button {
    display: block;
    margin: 20px;
    color: #000000;
    background-color: #5b9c38;
    width: 90%;
    height: 5%;
    border-radius: 20px;
}

.button:hover {
    color: #ffffff;
    border-radius: 20px;
    background-color: #1ea500;
}

#remove {
    width: 150px;
    height: 30px;
}

.bookingButton {
    display: block;
    margin: 20px;
    border-radius: 20px;
    color: #000000;
    background-color: #5b9c38;
    width: 200px;
    height: 30px;
}
.bookingButton:hover {
    color: #ffffff;
    border-radius: 20px;
    background-color: #1ea500;
}

.bookingGuests {
    width: 450px;
    align-content: center;
    border-radius: 15px;
    padding-left: 3%;
    padding-right: 4%;
    margin-left: 4%;
    border:1.5px solid #000000;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    display: grid;
    padding-top: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    background-color: #a4ee7c;
}
.bookingDates {
    
    padding-top: 5px;
    width: 315px;
    height: 30px;
    margin-left: 31px;
    padding-left: 2%;
    padding-right: 1%;
    align-content: center;
    border-radius: 15px;
    border:1.5px solid #000000;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}


form h6 {
    color: #065555;
}
form h5{
    color: #e80c0c;
    font-size: smaller;
    font-weight: 500;
}
.bookingGuests section label {
    padding-left: 3%;
}

.bookingGuests section input {
    margin-right: 5px;
}
.bookingTickets {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 30px;
    background-color: #a4ee7c;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    
}
.choosingTickets{
    display:inline-flex;
    width: 95%;
    height: auto;
    margin-left: 2%;
    margin-bottom: 20px;
    padding-right: 1%;
    align-content: center;
    border-radius: 15px;
    border:1.5px solid #000000;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}
.choosingTickets p{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    border-left: 2px solid #000000;
}


.buttonChange {
    margin: 20px;
    color: #000000;
    background-color: #5b9c38;
    width: 40px;
    height: 30px;
    border-radius: 20px;
}

.buttonChange:hover {
    color: #ffffff;
    border-radius: 20px;
    background-color: #1ea500;
}
.wrapper{
    margin-top: 15px;
    height:40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a4ee7c;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
.wrapper span{
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#addToOrder, #placeOrder , #addToFav , #orderFav, #checkLoyalty{
    width: 150px;
    height: 30px;
}

#overallCostTickets{
    padding-top: 10px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 2px;
    border: 1px solid #000000;
    height:250px;
    width: 300px;
    background-color: #a4ee7c;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
#totalCostTickets{
    padding-top: 6px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 2px;
    border: 1px solid #000000;
    height:300px;
    width: 310px;
    background-color: #a4ee7c;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

#loyaltyPoints{
    padding-top: 6px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 2px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    height:150px;
    width: 310px;
    background-color: #a4ee7c;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
.dynamicTotal{
    padding-top: 2px;
    margin-left: 20px;
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 20px;
    border: 1px solid #000000;
    height:70px;
    width: 200px;
    background-color: #a4ee7c;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}
#dynamicTotalOut{
    font-size: 20px;
    font-weight:500 ;
}
#total{
    color: #2d5007;
}
#overall{
    color: #2d5007;
}
#duration{
    width: 100px;
    height : 30px;
    background-color: #ffffff;
    padding-left: 10px;
    margin-left: 20px;
    margin-top:10px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}


/* Ticket price output table */

.table {
    border-radius: 20px;
    width: 95%;
    margin-left: 10px; 
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    
  }
  
  .table td, .table th {
    border-radius: 10px;
    border-width: 2px;
    /* padding-left: 30px;
    padding-right: 30px; */
    border-color: #0c4615;
    border-style: solid;
    text-align: center;

  }
  
  .table tr td{
      text-align: center;
  }
  .table th {
      border-width: 2px;
      border-color: #0c4615;
      border-style: solid;
      padding: 10px 9px;
      
      text-align: center;
    }
  
  .table thead {
    background-color: #a4ee7c;
  }
  
  .table tfoot {
      background-color: #a4ee7c;
    }
  
  .table tfoot tr td{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  
  .table thead tr th{
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .exp-wrapper {
        position: relative;
        border: 1px solid #aaa;
        display: flex;
        width: 200px;
        justify-content: space-around;
        height: 20px;
        line-height: 20px;
        font-size: 24px;
      }
      
      .exp-wrapper:after {
        content: '/';
        position: absolute;
        left: 50%;
        margin-left: -4px;
        color: #aaa;
      }
      
      input.exp {
        float: left;
        font-family: monospace;
        border: 0;
        width: 98px;
        padding-left: 10px;
        outline: none;
        appearance: none;
        font-size: 13px;
      }

      .bookingDelButton {
        display: block;
        margin: 1.5px;
        border-radius: 10px;
        color: #000000;
        background-color: #5b9c38;
        width: 60px;
        height: 30px;
    }
    .bookingDelButton:hover {
        color: #ffffff;
        border-radius: 10px;
        background-color: #1ea500;
    }

    .addToFavButton {
        display: block;
        margin: 1px;
        border-radius: 10px;
        color: #000000;
        background-color: #5b9c38;
        width: 65px;
        height: 40px;
    }
    .addToFavButton:hover {
        color: #ffffff;
        border-radius: 10px;
        background-color: #1ea500;
    }


    #halfBody {
        background: linear-gradient(to right, rgb(255, 255, 255) 50%, #a4e083de 50%);
    }

    #left {
        width: 50%;
        float:left;
    }
    #right {
        display: block;
        width: 50%; 
        float:right;
    }

    .bookingTopics{
        font-size: 22px;
        font-weight:500;
        margin-left: 50px;
    }

    .selectDuration{
        padding-bottom: 20px;
        width: 315px;
        height: 30px;
        margin-left: 31px;
        padding-left: 2%;
        padding-right: 1%;
       
        border-radius: 15px;
        border:1.5px solid #000000;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}
/* Popup message */

.popup{
    width: 400px;
    background: rgb(197, 204, 187);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0px 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup p{
    text-align: center;
}
.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}  
.popup h2{
    margin: 30px 0px 10px;
    font-size: 38px;
    font-weight: 500;
}
.popup button{
    width: 80%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color:#fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.popupDonate{
    width: 400px;
    background: rgb(125, 136, 110);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0px 30px 30px;
    color: rgb(117, 64, 64);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popupDonate p{
    text-align: center;
}
.popupDonate img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}  
.popupDonate h2{
    margin: 30px 0px 10px;
    font-size: 38px;
    font-weight: 500;
}
#closePopup{
    width: 80%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color:rgb(0, 0, 0);
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}


/* Mobile -- Homepage */

@media only screen and (max-width : 1024px) {
    .grid-container1{
        grid-template-columns: 1fr 9fr;
        grid-template-rows: 1fr;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #465233;
    }
    #mainNav {
        background-color: #465233;
    }
    
    .primary-navigation {
        margin: 0 auto;
        display: inline-block;
        padding-top: 1%;
        text-align: right;
        font-size: 14px; 
        padding-right: 30px;
    }

    .item-container {
        display: inline-block;
        }
        .grid-container2 {
            display: inline-block;
            margin-left: 3%;
            margin-right: 3%;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
            border-radius: 20px;
            
        }
        .box1 {
           box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
           border-radius: 20px;
           text-align:justify;
           margin-left: 10%;
           margin-right: auto;
           margin-top: 2%;
           margin-bottom: auto;
           width: 80%;
           height: 80%;
        }

        .box2-2 {
            text-align: justify;
            width: 80%;
            margin-top: 2%;
           margin-bottom: auto;
            
        }
    
        .box3 {
            margin-top: 2%;
            margin-bottom: 2%;
            margin-left: 10%;
            margin-right: auto;
            border-radius: 20px;
            width: 80%;
            height: 80%;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
        }
        .delButton {
            border-radius: 20px;
            margin: 15px;
            width: 300px;
            height: 30px;
        }
        
        .bookingGuests {
            width: 60%;
            
        }
}

@media only screen and (max-width : 932px) {
    .grid-container1{
        grid-template-columns: 1fr 10fr;
        grid-template-rows: 1fr;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #465233;
    }
    #mainNav {
        background-color: #465233;
    }
    .primary-navigation {
        margin: 0 auto;
        display: inline-block;
        padding-top: 1%;
        text-align: right;
        font-size: 12px; 
        padding-right: 29px;
    }
    .box{
        font-size: 14px;
    }
    .box3 {
        border-radius: 20px;
        width: 80%;
        height: 80%;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    }

    .dottedList1 {
        font-size: 14px;
    }

    div #mainPara1 h2{
        font-size: 21px;
    }

    .grid-container1-1{
        display: grid;
        background-color: #a4ee7c;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #subImg {
        width: 80%;
        border-radius: 20px;
        height: auto;
        padding: auto auto;
        display: block;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    }
    .dottedList {
        display: block;
        width: 80%;
        padding: 0 1.8em;
        line-height: 19px;
        text-align: left;
    }
    .box2-1 {
        text-align: left;
        padding-left: 15px;
    }

    .box {
        padding: 0;
        max-width: 95%;
    }
    .grid-container2 {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
        border-radius: 20px;
        
    }
    .box1 {
       box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
       border-radius: 20px;
       text-align:justify;
       margin-left: 10%;
       margin-right: auto;
       margin-top: 2%;
       margin-bottom: auto;
       width: 80%;
       height: 80%;
    }
    .box2-2 {
        text-align: justify;
        width: 80%;
        margin-top: 2%;
       margin-bottom: auto;
        
    }

    .box3 {
        margin-top: 2%;
       margin-bottom: 2%;
        margin-left: 10%;
       margin-right: auto;
        border-radius: 20px;
        width: 80%;
        height: 80%;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    }
    .primary-navigation {
        margin: 0 auto;
        display: inline-block;
        padding-top: 1%;
        text-align: right;
        font-size: 12px; 
        padding-right: 29px;
    }
    div #mainPara {
        font-size: 14px;
    }
    div #mainPara2 {
        font-size: 13px;
    }

    div #mainPara2 h2{
        font-size: 21px;
    }

    .grid-container1-1{
        display: grid;
        background-color: #a4ee7c;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 30px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #subImg {
        width: 80%;
        border-radius: 20px;
        height: auto;
        padding: auto auto;
        display: block;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    }
    .dottedList {
        display: block;
        width: 80%;
        padding: 0 1.8em;
        line-height: 19px;
        text-align: left;
    }

    .box2-1 {
        text-align: left;
        padding-left: 15px;
    }

    .box {
        padding: 0;
        max-width: 95%;
    }
}

@media only screen and (max-width : 860px) {
    .grid-container1{
        grid-template-columns: 1fr 12fr;
        grid-template-rows: 1fr;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #465233;
    }
   
    .primary-navigation {
        margin: 0 auto;
        display: inline-block;
        padding-top: 2%;
        text-align: right;
        font-size: 9.4px; 
        padding-right: 20px;
    }
    .grid-containerFooter{
        display: grid;
        background-color: #465233;
        grid-template-columns: 1fr;
    }
    .footerHeading h6 , #linkList {
        display: none;
    }
    .footerHeading {
        margin-left: 10px;
        margin-right: 10px;
        text-align: justify;
    }

    .footerHeading #text {
        font-size: 14px;
    }

    .grid-container1-1-1{
        display: inline-block;
        background-color: #a4ee7c;
        border-radius: 30px;
        
    }

    .box2-1-1 {
        padding-top: 2%;
        margin: auto auto;
        text-align: justify;
        width: 90%;
    }

    .grid-containerMusuem2 {
        display: inline-block;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 30px;
        background-color: #a4ee7c;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 2%;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    }
    .grid-containerMusuem {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .box3-Mus{
        border-radius: 20px;
        width: 90%;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 5%;
        margin-right: 5%;
    }

    .bookingGuests {
        width: 60%;
        
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
    }

    
    
}

@media only screen and (max-width : 768px) {
    .grid-container1{
        grid-template-columns: auto 2fr;
        grid-template-rows: 1fr;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #465233;
    }
    .logo{
        margin-right: 10px;
    }
    header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .primary-navigation {
        margin: 0 auto;
        display: inline-block;
        padding-top: 1%;
        text-align: right;
        font-size: 15px; 
        
    }
    .primary-navigation ul li{
        padding: 0 10px;
    }

    nav ul li {
        list-style: none;
        margin: 0 auto;
        border-left: 2px solid #1e851e;
        display: block;
        padding: 2px 2px;
        position: relative;
        text-decoration: none;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    nav ul li ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        padding-left: 5px;
        left: 36%;
        display: none;
        background: #404d29;
    }

    ul li:hover > ul,
    ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 20%;
    text-align: left;
    padding-top: 10px;
    box-shadow: 1px 3px 5px 1px #465233;
    z-index: 950;
}

    nav ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    border-style: none;
}
.items {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    padding-bottom: 20px;
}

.item {
    display: block;
    margin-left: 50px;
    background-color: #a4ee7c;
    width: 80%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
    text-align: center;
    margin-bottom: 20px;
}
    .donoUI {
        display: block;
        width: 40%;
        align-content: center;
        margin-right: 20%;
        margin-left: 20%;
        padding-bottom: 1%;
    }
}



@media only screen and (max-width : 640px) {
    .grid-container1{
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #465233;
    }
    
    .primary-navigation {
        margin: 0 auto;
        display: block;
        padding: 0 0 0 0;  
        text-align: right;
        font-size: 14px; 
    }
      
    nav ul{
        padding-inline-start: 0;
    }

    nav ul li {
        list-style: none;
        margin: 0 auto;
        border-left: 2px solid #1e851e;
        display: block;
        padding: 2px 2px;
        position: relative;
        text-decoration: none;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    .titles {
        font-size:25px;
    }
      
    .grid-container2 {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
        border-radius: 20px;
        
    }  
    .box1 {
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
        border-radius: 20px;
        text-align:justify;
        margin-left: 10%;
        margin-right: auto;
        margin-top: 2%;
        margin-bottom: auto;
        width: 80%;
        height: 80%;
     }
 
     .box3 {
        margin-top: 2%;
       margin-bottom: 2%;
        margin-left: 10%;
       margin-right: auto;
        border-radius: 20px;
        width: 80%;
        height: 80%;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    }
     .box2-2 {
         text-align: justify;
         width: 80%;
         margin-top: 2%;
        margin-bottom: auto;
         
     }
    .grid-containerMusuem {
        display: inline-block;

    }

    .boxMus {
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
        width: 80%;
        height: auto;
        margin-bottom: 10%;
        border-radius: 20px;
        margin: 0 10%;
    }

    figure figcaption{
        padding-top: 1%;
        padding-left: 10%;
        font-size: 15px;
    }

    .museum-link {
        text-align: justify;
        padding-right: 5%;
    }

    .tableImage {
        border-radius: 5px;
        margin: auto auto;
        width: 80%;
        height: auto;
     }
     .table1 {
        font-size: 15px;
     }

     .items {
        display: grid;
        grid-template-columns: 1fr  ;
        grid-template-rows: 1fr 1fr 1fr;
        padding-bottom: 20px;
    }
    
    .item {
        display: block;
        margin-left: 60px;
        background-color: #a4ee7c;
        width: 80%;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
        border-radius: 20px;
        text-align: center;
        padding-bottom: 20px;
    }
    #mainPara .titleH2 {
        font-size: 23px;
    }
    .titleH2 {
        font-size: 23px;
    }
    .donoUI {
        display: block;
        width: 20%;
        align-content: center;
        margin-right: 2%;
        margin-left: 2%;
        padding-bottom: 1%;
    }
    .donoUI fieldset legend {
        font-size: 15px;
    }
    
    .donoUI fieldset{
        width: 50%;
        background-color: #a4ee7c;
        border:1.5px solid #000000;
        border-radius: 20px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }
    .boxDono {
        text-align: justify;
        padding-left: 5%;
        padding-right: 5%;
    }
    .donoUI pre {
        font-size: 13px;
    }
}

@media only screen and (max-width : 348px) {
    .grid-container1{
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #465233;
    }

    .primary-navigation {
        margin: 0 auto;
        display: block;
        padding: 0 0 0 0;  
        text-align: right;
        font-size: 10px; 
        padding-right: 20px;
    }
      
    nav ul li {
        list-style: none;
        margin: 0 auto;
        border-left: 2px solid #1e851e;
        display: block;
        padding: 0.5px 1px;
        position: relative;
        text-decoration: none;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
      
    .copyrightText {
        font-size: 12px;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    .footerHeading #text {
        font-size: 12px;
    }

    .social img {
        width: 30px;
    }
    .grid-container2 {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
        border-radius: 20px;
        
    }
    .box1 {
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
        border-radius: 20px;
        margin-left: 10%;
        margin-right: auto;
        margin-top: 3%;
        margin-bottom: 3%;
        text-align:justify;
        width: 80%;
        height: auto;
     }
     .box2-2 {
        
        text-align: justify;
        width: 80%;
        height: auto;
        margin-top: 1%;
       margin-bottom: 1%;
    }

    .box3 {
        margin-top: 3%;
       margin-bottom: 3%;
        border-radius: 20px;
        width: 80%;
        margin-left: 10%;
       margin-right: auto;
        height: auto;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    }
    .titles {
        font-size: 30px;
        text-align:left ;
        padding-left: 20px;
        font-size: 20px;
        font-weight: lighter;
    }

    .productForm {
        background-color: #a4ee7c ;
        margin-top: 20px;
        padding-top: 20px;
        width: 230px;
        padding-bottom: 20px;
        padding-left: 20px;
        margin-left: 30px;
        text-align: left;
        border-radius: 20px;
        border:1.5px solid #000000;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    
    }
    .item {
        display: block;
        margin-left: 30px;
        background-color: #a4ee7c;
        width: 80%;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
        border-radius: 20px;
        text-align: center;
        padding-bottom: 20px;
    }
    .donoUI {
        display: block;
        width: 20%;
        align-content: center;
        margin-right: 1.5%;
        margin-left: 1.5%;
        padding-bottom: 1%;
    }
    .donoUI fieldset legend {
        font-size: 10px;
    }
    
    .donoUI fieldset{
        width: 50%;
        background-color: #a4ee7c;
        border:1.5px solid #000000;
        border-radius: 20px;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }
    .boxDono {
        text-align: justify;
        padding-left: 3%;
        padding-right: 3%;
    }
    .donoUI pre {
        font-size: 11px;
    }
}

