/* main styles for the page */
p {
    text-align: justify;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.5em 0; /*top bottom & left right */
}
h1 {
    font-size: 1.8em;
    text-align: left;
    padding-left: 19px;
}
h2{
    
    text-align: center;
    font-size: 2em;
    padding-top: 20px;
    
}
main div h2 {
    color: black;
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 1px black;
}

h3{
    margin: 1em 0;
}
#mainImg {
    width:100%;
    z-index:-5;
    position:relative;
    height:auto;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5); 
    margin-bottom: 2%;
}
.grid-container1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    
}
.logo {
    width: 80px;
    height: auto;
    margin-left: 30px;
    background: none;
}

.logo:hover{
    background:#1e851e;
    border-radius: 7px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }
.container h2 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -680%);
   
  }
.onImage {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -80%);
    width: 550px;
    text-align: justify;
  }


/* Footer area */

footer {
    padding-bottom: 0px;

}
#linkList a {
    color: #ffffff;
    text-align: start;
}
#linkList a:hover{
    color: #1ea556;
}
#text {
    text-align: justify;
    font-weight: lighter;
    color: #ffffff;
}
.siteFooter {
    background-color: #465233;
    position:relative;
    bottom:0;
}

.siteFooter div {
    color:aliceblue;
}
.footerHeading h6 {
    font-size: 15px;
}
 

.grid-containerFooter{
    display: grid;
    background-color: #465233;
    grid-template-columns: 2fr 1fr;
    
}
.copyrightText {
    padding-bottom: 15px;
    margin-bottom: 15px;
}

div .copyrightText {
    text-align: center;
}

div .copyrightText a{
    color: #ffffff;
}
div .copyrightText a:hover{
    
    color: #1ea556;
}


.footerHeading {
    margin-left: 100px;
    margin-right: auto;
}

#linkList li a {
    color: #ffffff;
    text-align: start;
}
#linkList li a:hover{
    color: #1ea556;
}
#text {
    text-align: justify;
    font-weight: lighter;
    color: #ffffff;
}
#footerLinks li a{
    color: #ffffff;
}
#social img{
    
    width: 40px;
}
.flexSocial {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
  justify-content: space-around;
    
}

/* main navigation styles */

.grid-container1{
    grid-template-columns: 1fr 4fr;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #465233;
}
#mainNav {
    background-color: #465233;
}

.primary-navigation {
    width: 90%;
    margin: 0 auto;
    display: block;
     
    text-align: right;
    font-size: 17px; 
    padding-right: 40px;
}
  
nav ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid #1e851e;
    display: inline-block;
    padding: 0 20px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
  
nav li a {
    color: rgb(255, 255, 255);
}
  
nav li a:hover {
    color: #1ea556;
    text-decoration: none; 
    
}
  
nav li:hover {
    cursor: pointer;
}
  
nav ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-left: 0;
    left: 0;
    display: none;
    background: #404d29;
}
  
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
    min-width: 180px;
    text-align: left;
    padding-top: 15px;
    box-shadow: 1px 3px 5px 1px #465233;
    z-index: 950;
}
  
nav ul li ul li {
    clear: both;
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
    border-style: none;
}
  
nav ul li ul li a:hover {
    padding-left: 9px;
    border-left: 2px solid #1e851e;
    transition: all 0.1s ease;
}
    
a {
  text-decoration: none;
}
a:hover {
    color: #1ea556;
}
  
ul li ul li a { transition: all 0.5s ease; }

/* Items */
.gridLink{
    display: inline-flex;
    
}
#linkProd {
    display: block;
    text-align: center;
    font-size: 17px;
    width: 35%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    border:1.5px solid #000000;
}
.items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 2fr ;
    padding-bottom: 20px;
}

.item {
    display: block;
    margin-left: 50px;
    background-color: #a4ee7c;
    width: 85%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
    text-align: center;
    
}

.itemImg {
    border-radius: 20px;
    
    margin-top: 30px;
    width: 350px;
    height: auto;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
}


.button {
    display: block;
    margin: 20px;
    color: #000000;
    background-color: #5b9c38;
    width: 350px;
    height: 30px;
    border-radius: 20px;
}

.button:hover {
    color: #ffffff;
    border-radius: 20px;
    background-color: #1ea500;
}

.link {
    text-align: center;
    font-size: large;
    padding-left: 20px;
    padding-bottom: 12px;
    color: #000000;
}

.zesLogo {
   padding-right: 10px;
   padding-top: 5px;
    width: 150px;
    height: auto;
    background-color: transparent;
    padding-left: 60px;
    position: relative;
    
}
.zesLogo:hover {
    animation: slide 2s linear;
}
@keyframes slide {
  0% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1); 
  }
  50% {
    transform: scale(1.2);
    -webkit-transform: scale(1.2); 
    }
    100% {
        transform: scale(1.25);
        -webkit-transform: scale(1.25); 
        }

}
.footerImg {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 20px;
}


/* Mobile -- Main Nav and Footer */

@media only screen and (max-width : 1024px) {
    .grid-container1{
        grid-template-columns: 1fr 9fr;
        grid-template-rows: 1fr;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #465233;
    }
    #mainNav {
        background-color: #465233;
    }
    
    .primary-navigation {
        margin: 0 auto;
        display: inline-block;
        padding-top: 1%;
        text-align: right;
        font-size: 14px; 
        padding-right: 30px;
    }
    .container {
        position: relative;
        text-align: center;
        color: white;
      }
    .container h2 {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-align: center;
        color: white;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-10%, -680%);
       
      }
    .onImage {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-10%, -80%);
        width: 50%;
        text-align: justify;
      }

    .items {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr ;
        padding-bottom: 20px;
    }
    
    .item {
        display: block;
        margin-bottom: 20px;
        margin-left: 35px;
        background-color: #a4ee7c;
        width: 85%;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
        border-radius: 20px;
        text-align: center;
        
    }
    
}

@media only screen and (max-width : 932px) {
    .grid-container1{
        grid-template-columns: 1fr 10fr;
        grid-template-rows: 1fr;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #465233;
    }
    #mainNav {
        background-color: #465233;
    }
    
    .primary-navigation {
        margin: 0 auto;
        display: inline-block;
        padding-top: 1%;
        text-align: right;
        font-size: 12px; 
        padding-right: 29px;
    }
    .container {
        position: relative;
        text-align: center;
        color: white;
      }
    .container h2 {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-align: center;
        color: white;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-10%, -680%);
       
      }
    .onImage {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-10%, -80%);
        width: 50%;
        text-align: justify;
      }

      .button {
        display: block;
        margin: 20px;
        color: #000000;
        background-color: #5b9c38;
        width: 85%;
        height: 4%;
        border-radius: 20px;
    }
}

@media only screen and (max-width : 860px) {
    .grid-container1{
        grid-template-columns: 1fr 12fr;
        grid-template-rows: 1fr;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: #465233;
    }
   
    .primary-navigation {
        margin: 0 auto;
        display: inline-block;
        padding-top: 2%;
        text-align: right;
        font-size: 9.4px; 
        padding-right: 20px;
    }
    .grid-containerFooter{
        display: grid;
        background-color: #465233;
        grid-template-columns: 1fr;
    }
    .footerHeading h6 , #linkList {
        display: none;
    }
    .footerHeading {
        margin-left: 10px;
        margin-right: 10px;
        text-align: justify;
    }

    .footerHeading #text {
        font-size: 14px;
    }

    .itemImg {
        border-radius: 20px;
        margin-top: 30px;
        width: 90%;
        height: auto;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    }
}

@media only screen and (max-width : 768px) {
    .grid-container1{
        grid-template-columns: auto 2fr;
        grid-template-rows: 1fr;
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #465233;
    }
    .logo{
        margin-right: 10px;
    }
    header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .primary-navigation {
        margin: 0 auto;
        display: inline-block;
        padding-top: 1%;
        text-align: right;
        font-size: 15px; 
        
    }
    .primary-navigation ul li{
        padding: 0 10px;
    }

    nav ul li {
        list-style: none;
        margin: 0 auto;
        border-left: 2px solid #1e851e;
        display: block;
        padding: 2px 2px;
        position: relative;
        text-decoration: none;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .container {
        position: relative;
        text-align: center;
        color: white;
      }
    .container h2 {
        font-size: 23px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-align: center;
        color: white;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-10%, -680%);
       
      }
    .onImage {
        font-size: 12px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-10%, -80%);
        width: 40%;
        text-align: justify;
      }

      .zesLogo {
        padding-right: 10px;
        padding-top: 5px;
         width: 80px;
         height: auto;
         background-color: transparent;
         padding-left: 60px;
        
     }
     ul li:hover > ul,
     ul li ul:hover {
     visibility: visible;
     opacity: 1;
     display: block;
     min-width: 150px;
     margin-left: 30%;
     text-align: left;
     padding-top: 15px;
     box-shadow: 1px 3px 5px 1px #465233;
     z-index: 950;
 }
}



@media only screen and (max-width : 640px) {
    .grid-container1{
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #465233;
    }
    
    .primary-navigation {
        margin: 0 auto;
        display: block;
        padding: 0 0 0 0;  
        text-align: right;
        font-size: 14px; 
    }
      
    nav ul{
        padding-inline-start: 0;
    }

    nav ul li {
        list-style: none;
        margin: 0 auto;
        border-left: 2px solid #1e851e;
        display: block;
        padding: 2px 2px;
        position: relative;
        text-decoration: none;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
      
    .container h2 {
        font-size: 20px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-align: center;
        color: white;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-10%, -680%);
       
      }
    .onImage {
        font-size: 10px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-10%, -80%);
        width: 40%;
        text-align: justify;
      }

      .zesLogo {
        padding-right: 10px;
        padding-top: 5px;
         width: 50px;
         height: auto;
         background-color: transparent;
         padding-left: 60px;
        
     }

     .items {
        display: grid;
        grid-template-columns: 1fr  ;
        grid-template-rows: 1fr 1fr 1fr;
        padding-bottom: 20px;
    }
    
    .item {
        display: block;
        margin-bottom: 20px;
        margin-left: 10%;
        margin-right: 10%;
        background-color: #a4ee7c;
        width: 80%;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
        border-radius: 20px;
        text-align: center;
        
    }
}

@media only screen and (max-width : 495px) {
    .container h2 {
        font-size: 15px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-align: center;
        color: white;
        position: absolute;
        top: 95%;
        left: 50%;
        transform: translate(-10%, -680%);
       
      }
    h2 {
        font-size: 27px;
    }
    .onImage {
        font-size: 8px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-10%, -80%);
        width: 40%;
        text-align: justify;
      }

     .onImage h4 { 
        display: none;
      }

      .zesLogo {
        display: none;
     }
}

@media only screen and (max-width : 348px) {
    .grid-container1{
        padding-top: 7px;
        padding-bottom: 7px;
        background-color: #465233;
    }

    .copyrightText {
        font-size: 12px;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    .footerHeading #text {
        font-size: 12px;
    }
    .primary-navigation {
        margin: 0 auto;
        display: block;
        padding: 0 0 0 0;  
        text-align: right;
        font-size: 10px; 
        padding-right: 20px;
    }
      
    nav ul li {
        list-style: none;
        margin: 0 auto;
        border-left: 2px solid #1e851e;
        display: block;
        padding: 0.5px 1px;
        position: relative;
        text-decoration: none;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
      
    .container h2 {
        font-size: 15px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        text-align: center;
        color: white;
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translate(-10%, -680%);
       
      }
    .onImage {
        font-size: 8px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        position: absolute;
        top: 78%;
        left: 50%;
        transform: translate(-10%, -80%);
        width: 40%;
        text-align: justify;
      }

      .onImage h4 { 
        display: none;
      }

      .zesLogo {
        display: none;
     }

    .item h3 {
        padding-left: 1%;
    }
}